/* Definições Gerais - Início */
html{
    height: 100%;
}

body, ul, li, p{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.header a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 120%;
    text-align: center;
}

img{
    max-width: 100%;
    display: block;
}
/* Definições Gerais - Fim */

/* CSS Cabeçalho- Início */
.header a{
    text-decoration: none;
    color: white;
}

.header{
    background: #727272;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    margin-left: 10px;
}
/* CSS Cabeçalho- Fim */

/* CSS Rodapé- Inicío */
.footer{
    background: #727272;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* CSS Rodapé- Fim */

/* CSS Flexbox 1 - Início */
.flex{
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin: 10px;
}

/* CSS Flexbox 1 - Fim */

/* Menu Mobile- Início */
#menuToggle{
    display: none;
}

.menu-icon{
    display: none;
}

@media screen and (max-width:600px){

    .header{
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .header nav{
        display: absolute;
        width: 100%;
        height: 100%;
    }

    .menu{
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        align-content: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        overflow: hidden;

        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }

    .menu li{
        display: block;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .menu li a{
        display: block;
        text-align: center;
        width: 100%;
    }

    .menu-icon{
        display: block;
        color: white;
        width: 50px;
        height: inherit;
        position: absolute;
        top: 15px;
        right: 30px;
        line-height: 60px;
        z-index: 999;
    }
    
    .menu-icon i{
        font-size: 1.7em;
    }

    #menuToggle:checked ~ label i:nth-child(2){
        display: block;
    }

    #menuToggle:checked ~ label i:first-child{
        display: none;
    }

    #menuToggle:not(checked) ~ label i:first-child{
        display: block;
    }

    #menuToggle:not(checked) ~ label i:nth-child(2){
        display: none;
    }

    #menuToggle:checked ~ ul{
        height: 100%;
    }
}

/* Menu Mobile- Fim */


/* CSS Grid 1 - Inicío */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 10px;
}

.banner{
    grid-column: 3;
    grid-row: 2 / 5;
}

@media screen and (max-width:600px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .card{
        display: block;
    }

    .card:nth-child(9){
        display: none;
    }

    .banner{
       display: none;
    }
}
/* CSS Grid 1 - Fim */
